<h2>test-static ({{definedParam}}/{{definedHash}})</h2>
<div class="staticTest">{{staticTest templateParam templateHash=templateHash }}</div>
<div class="staticTestNoParam">{{staticTest2}}</div>
<div class="staticTestNoParam">{{staticTest3}}</div>
