<h3>test-child</h3>
<p class="param defined">defined: {{definedParam}}</p>
<p class="hash defined">defined: {{definedHash}}</p>
<p class="param template">template: {{templateParam}}</p>
<p class="hash template">template: {{templateHash}}</p>
{{#if model}}
<p class="model">{{index}}:{{model}}</p>
{{/if}}
