<h2>test-dynamic ({{definedParam}}/{{definedHash}})</h2>
<div class="dynamicTest">{{dynamicTest templateParam templateHash=templateHash }}</div>
<div class="dynamicTest2">{{dynamicTest2}}</div>
<div class="dynamicClassicTest">{{component "test-child" templateParam templateHash=templateHash}}</div>