<h2>test-helper ({{definedParam}}/{{definedHash}})</h2>
<div class="helperTest {{helperTest templateParam templateHash=templateHash}}" data-test={{helperTest templateParam templateHash=templateHash}}>{{helperTest templateParam templateHash=templateHash}}</div>
<div class="classic-helper {{classic-helper templateParam templateHash=templateHash}}">{{classic-helper templateParam templateHash=templateHash}}</div>